---
import { markdownify } from "@/lib/utils/textConverter";

export interface Props {
  as: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  text: string;
  svgColor?: string;
  class?: string;
  dataAos?: string;
  dataAosDelay?: string;
}

const {
  as: Tag = "h1",
  text,
  svgColor,
  class: className = "",
  dataAos,
  dataAosDelay,
} = Astro.props;

// Utility function to generate SVG markup
function getSvgMarkup(color: string) {
  return `<svg viewBox="0 0 344 111" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M123.542 26.398c-1.06-.59-2.776.36-4.426.125.48-.631 4.308-.969 4.426-.125Zm25.64.302c-.337.562-1.201.486-2.243.578-.188-1.16 1.508-.399 2.243-.577Zm68.321 11.01a6.613 6.613 0 0 0 2.516.348c-.24 1.161-2.758 1.041-2.516-.347Zm35.214 3.711c1.403-.123 1.761.529 3.142.388.079.658-3.046.458-3.142-.388Zm.138 2.798c1.469-.109 2.94.045 4.327.454-1.352.954-2.894-.011-4.327-.454Zm64.739 12.292c-2.055.998-3.471-.72-5.656-.47.57-.828 4.143.319 5.656.47Zm-16.702 3.373c.227-.59 1.957-.173 2.15.076-.141.582-1.891.186-2.15-.076Zm11.324 1.509c-4.382-1.076-1.618.617 0 0Zm1.825 1.737c.574-.05.654.36 1.249.308l-.054.84c-.575.05-.626-.287-.304-.277-.202-.837-1.02.09-1.569-.052.096-.369.541-.427.678-.819Zm10.752 4.578a45.278 45.278 0 0 1-6.284-.775c.214-.247.407-.492-.05-.566 2.216-.037 4.395.424 6.334 1.34Zm-19.921-.408c.915.413 1.103.111 2.497.368-.076.842-2.47.427-2.497-.368Zm8.325 3.654a29.31 29.31 0 0 0 5.929 1.377c-1.039.604-.787.069-.394 1.117-1.819-1.188-4.125-.358-6.249-1.348.175-.452.515-.73.714-1.145Zm-130.34-2.158a33.84 33.84 0 0 1 4.088.418c-.947.197-4.423.884-4.088-.418Zm19.834 1.782c.273-.044.553-.036.82.022.267.059.516.166.732.316a2.688 2.688 0 0 1-.911.424 2.812 2.812 0 0 1-1.018.069c.237-.228.372-.525.377-.831Zm-86.636-1.796c.693-.65 1.807.316 2.127-.187.92.223-.356.582-.072 1.127a11.337 11.337 0 0 0-2.055-.94Zm166.212 5.431c.829-.073 1.342.147 1.214.88-.84-.04-1.372-.24-1.214-.88Zm2.506-.013c.787-.069.669.53 1.573.337-.401.794-.592 1.305.872 1.138.033.377-.04.763-.072 1.127-1.805-.05-1.648-1.678-2.373-2.602Z" fill="currentcolor" class="${color ? color : "text-accent"}"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M288.847 74.904c-.435.893 1.008.253.571 1.127-1.18-.01-1.2-.976-2.821-.643.357-.564 1.257-.567 2.25-.484Zm-19.71 1.284a2.01 2.01 0 0 0 .701-.802c.974.35 2.469.295 2.763 1.2.558-.961 1.178-.01 2.552-.226-1.065 1.538-4.717-.02-6.983.047.082-.292.605-.187.967-.219ZM73.166 70.97c.758-.884 5.713-.353 1.264-.245-.384.015-.684.99-1.264.244Zm149.802 4.505c-4.338-.586-1.26 1.022 0 0Zm7.521 1.103c-1.093 1.216-3.745-.904-5.375-.19.855-1.007 3.865.076 5.375.19Zm113.431 3.838c-.183.605-1.582.045-2.127.188.344-.714 1.329-.478 2.127-.188Zm-113.14-3.562c.745-.294 2.108-.395 2.2.642-.584-.538-.588.146-1.591-.05-.151-.253-.259-.509-.609-.592Z" fill="currentcolor" class="${color ? color : "text-accent"}"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M105.015 24.083c.701.66 2.824.188 4.087.418-1.041 1.801 1.748.13 1.783 1.742-.651.152-2.051-.408-2.127.187 4.726.362 12.764 1.096 17.712.337a2.406 2.406 0 0 0-.911-.603c.554-.524 2.935-.26 3.461.112-.3.73-1.338-.584-1.914.17 3.268.85 6.633-1.099 10.443.066-1.53 1.122 2.516.575 4.033 1.258-.033-.377-.772-.255-1.25-.327.423-1.518 3.313-.824 5.453-.86.229.89-1.063.34-1.019 1.077 2.203.68 5.836.074 6.853 1.636.023.264-.389.206-.641.266 8.995 2.359 18.941.912 30.532 1.598-.656 1.312 1.846.274 1.782 1.742-.616.055-.348-.785-1.233-.613.59.613.605.289-.054.84 5.697.201 10.841-.044 15.709 1.939-.311-1.34 1.927-.265 3.501-.157-.046 1.903-1.478.49-2.25.483-4.738-.019-12.778-.772-18.601-1.189.053.603 1.322.168 1.874.348.551.179-1.762.44-2.573.474 2.333 2.149 7.173.164 9.765.885.034.377.065.735-.072 1.127 2.724.026 6.5.794 8.853.017.462.13.02.226.048.546 1.545.263 1.165-1.375 2.573-.474-.167.528-1.459-.023-1.017 1.097.02.226.303.277.264.565 2.926-.6 10.081-.395 11.65.871 5.717.427 11.25.224 14.781 1.621 3.923-.05 7.832.274 11.659.966.103 1.168-1.08-.342-1.627.504.055.622 1.343.166 1.895.346-.515.482-1.516.304-1.019 1.077.056.64 1.737.018 1.514.892.901-.231-.41-.761.396-1.098 3.163-.108 6.04-.533 7.834 1.094.055.622-.469.516-.981.542.053.603 1.343.167 1.874.348-1.604-1.416 3.758.333 5.355.458-1.378.653.313.39.892.87.151-.468-.199-.552-.589-.593 2.729-.412 6.674-.399 8.7 1.435.481-.137.823-.395 1.305-.514.887.093.831.915 1.517 1.158 8.882.11 16.183 1.725 24.83 2.804.033.377-.04.764-.072 1.127 2.55.725 3.194-.718 5.051.162-1.622-1.13 5.779.402 6.546 1.322.175.763-.681.535-.718 1.089a30.69 30.69 0 0 0 5.054.447 6.94 6.94 0 0 0-2.821-.644c2.09-.602 5.712.616 6.924.51.579.974-3.115-.087-3.46-.113-.167 1.021 1.645.425 2.223.905-1.619.352-5.479 1.3-6.946-.508-.362.032-.299.502-.355.83-6.102-.659-10.925-2.36-17.566-2.572-.448 1.236 2.307-.09 1.479 1.465.964.237.664-.742 1.628-.505-.718 1.336 2.771-.415 2.765 1.219-.3-1.455 2.615-.231 4.122-.155-.199.416-.517.691-.695 1.106 1.751.168.663-.742 1.641-1.075 2.696.673 5.849.946 8.7 1.435-2.52.83-7.629-1.929-9.234.53 3.329-1.377 9.601.957 13.248.996-3.052.877-5.993-.63-9.16-.578.068.772 1.793.164 1.518 1.176-2.575-.285-4.956-.55-7.865-1.205 1.827 1.51 5.74 1.165 8.723 1.7 4.484.781 8.923 2.023 12.497 2.695-3.71 1.182-8.551-.974-12.926-.759 3.496 1.97 10.871 1.757 14.975 3.579 1.064-.094 2.598-.685 2.802.664-14.56-1.545-28.468-4.686-43.003-5.949 3.602 1.961 12.179 1.28 15.563 4.173.425-.038.485-.822.055-.84 4.995-.707 7.946 3.096 13.726 3.27-3.495.707-9.805-1.338-13.226-.998 5.089 1.811 12.3 1.916 17.15 3.938l-.054.84c1.07-.987 2.531-.223 4.105.132.027.301-1.39.521-.377.83-6.501-.812-15.807-3.049-22.542-3.841 1.563 1.932 8.353.915 7.733 3.116 2.365-.646 2.894.01 5.354.192-.178.415-.497.69-.698 1.087.475-.213 1.255-.11 1.02-1.077.799.277 1.446.813 1.812 1.502.367.688.426 1.48.166 2.216.279-.184.621-.275.964-.255.277-.747-.608-.574-.892-.871.541-.675 1.686.402 1.519 1.176 1.083.38 1.745-1.35 1.551.338 1.16-.216.249-.82.431-1.671 1.323.168 1.484 1.274 1.406 2.572-5.24-1.095-9.562-2.707-14.082-2.442.47.225.4.895 1.213.88-.585 2.35-4.366-.905-5.161 1.5-.83-.42.23-1.52 1.037-1.363-.091-1.037-1.653.696-1.231-.594-.511.045-.331.864-1.305.514.211.209.702 1.4-.394 1.117-.456-2.733-6.329-2.5-9.946-2.921-.11.447.258.49.268.85.075.848.685-.25 1.247.042-.027.218.011.437.111.636.101.198.259.367.46.49-.181.624-1.552.138-2.127.189-.618-.212.183-1.574-.514-1.702-1.468-.118.239 1.004-.736 1.375-2.756.585-2.956-.708-5.676-.202l.056-.822c-4.822.977-8.693-1.36-12.567-1.55-1.077-.057-1.603.787-2.251.484-.223-.095-.438-.835-.59-.86-.634-.134-1.597.369-2.127.188-.53-.181-.587-.822-.891-.871-.674-.111-2.328.585-3.197.453-.869-.133-.861-.532-1.514-.892-.614 1.307-11.224-1.137-14.191-.761 2.718 1.659 4.774-.06 7.157 1.932-.025-.283-.385-.232-.627-.305 7.013.046 17.495 2.254 26.678 3.343-1.679 2.826-6.717-1.078-8.548.28-4.765-.567-7.133-1.65-11.317-1.224.423-1.519-3.084.272-4.055-1.257-.317.77-1.736.477-2.874.463.483-.365 1.601-.56 1.915-.169-3.492-1.192-7.615.178-11.281-1.778-.435.172-.612.586-.695 1.106-1.346-.432-2.153-.114-3.142-.387a1.54 1.54 0 0 1 .72-.471c.287-.09.596-.1.886-.032-1.241-.707-2.177-.377-3.425-.685-.256.991 1.87.063 1.497 1.178a126.451 126.451 0 0 0-11.923-1.53c-.209-.913.547-.847.714-1.374-2.279.638-1.928-.476-3.106-.96-.494.233.038.433-.395 1.117.393 1.048 1.68-.148 2.501.653-1.174 1.262-2.443-.487-4.429-.16.416-.873.192-.739-.125-1.414-1.148.102-1.872.393-2.86-.108.075-.615 1.34-.118 1.936-.17-3.265-1.783-8.243-1.363-13.193-1.838-.584-.062-.672-.567-.911-.603-3.548-.618-8.225.536-10.799-.947a87.911 87.911 0 0 1-11.978-.69c4.835 2.574 13.013.276 16.869 3.658.457-.4.286-.88-.59-.86.803-1.096 3.196.517 4.446-.126-.398.34-.154.432-.056.822 3.296-1.031 4.602.41 7.626-.293-.172.965-.863-.057-.983.524 1.066.418 3.625.516 5.944 1.052-5.527.753-9.791-1.416-14.533-.504-8.539-1.316-19.223-1.437-27.725-2.34 3.605 1.752 11.335 1.678 16.963 2.302-1.783 1.411-5.055-.446-6.68.324.291.24.637.423 1.017.533.379.111.783.148 1.183.108-.694.878-1.997-.28-3.482-.11-.276.024-1.046.776-1.322.8-.957.084-2.782-1.654-3.785-.141.075-1.336-3.28.48-4.373-.982-.362.032-.277.5-.355.83-16.256-2.536-37.093-2.597-57.32-2.54 2.035.884 4.351 1.16 6.606.784 1.294.094 1.305 1.195 1.5 1.463-2.176-.378-3.952-1.076-5.714.086-4.18-.98-9.899.284-15.533.307.929-1.374-1.266.719-1.554-.604-.37.185.768 1.414-.146 2.235-1.573-1.077-1.13 1.277-4.35-.718-.922-.26-1.14 1.639-1.644.79-.992-.064-.271-.64-.515-1.7-1.197.276-1.845-.028-2.552.224.055.622 1.558.167 2.173.34-.236.23-.533.75-.054.84a50.83 50.83 0 0 1-6.01.132 10.14 10.14 0 0 1 3.514-.728c-2.438-1.152-8.824-.171-12.604-.996-.393-.08-.659.552-.981.542-.323-.01-.893-.643-1.212-.614-.936.082-.143.563-1 .81-1.735.494-4.239-.918-6.301-.49-.485 1.069-3.147.525-4.77.118 1.078.55-.075.842-.318.028-.667.457-6.595 1.531-7.945.568a51.063 51.063 0 0 1-14.604.623c-5.222-.394-11.783.299-15.181-.56-2.19-.528-3.377-2.57-6.23-1.615a1.444 1.444 0 0 1-.233-1.195c-5.474.141-7.08-2.756-8.171-6.135-.442-2.088 2.033-4.889-.264-5.902.692-1.39.63-2.334 2.132-3.283-.92-2.654-3.007-5.185.493-7.298-.082-.924-1.558.802-1.232-.594a1.836 1.836 0 0 0 1.271-.157c.191-.1.359-.233.492-.39a1.43 1.43 0 0 0 .286-.527c-.667-.51-1.454-1.903-.221-2.506-.047-.527-1.047-.211-1.212-.615.647-.684-.204-1.102.43-1.937.26.189.586.294.926.299-3.39-6.12 10.574-6.953 16.969-7.84 9.486-1.312 18.615-3.504 28.799-4.687 13.561-1.519 24.353-1.388 36.905-2.685 3.496.755 8.725-.22 12.978-.12-.097.845-.303.939-1.946.78 1.239.441.906.793 1.165 1.796.267-2.568 4.436-3.41 7.714-1.972-1.522-.245-1.183-.047-3.804.127Zm139.554 20.98c.399.402 2.196.604 2.126-.187-.567.126-1.946-.436-2.126.188Zm-80.631-11.688a34.66 34.66 0 0 0 4.325.435c-.146-1.411-4.218-.672-4.325-.435Zm5.033.449c1.608.01 2.187.49 3.499-.176a2.848 2.848 0 0 0-1.772-.493 2.9 2.9 0 0 0-1.727.669Zm8.874.015c-.978.086-2.697-.446-3.178.166a3.452 3.452 0 0 0 1.605.298 3.492 3.492 0 0 0 1.573-.464Zm-4.287 2.657c.123-.543-.394-.573-.569-.862.434.086.887.088 1.327.007.44-.081.857-.244 1.224-.479-1.978.175-3.447-.208-5.998-.211.023 2.448 2.657 1.209 4.016 1.545Zm112.333 15.861c-1.749.345-3.233-.93-4.428-.14.98.178 4.37.943 4.428.14Zm.285.564c.957-.085 1.549.794 1.914-.169-.71-.28-1.437-.5-1.909.225l-.005-.056Zm-3.95 2.114c.8.082.804-.602 1.323-.8a2.315 2.315 0 0 0-1.55-.319c-.125.524.312.618.227 1.12Zm-13.931 4.857c1.528.074 1.888.991 2.819.378-.239-.53-2.903-.846-2.819-.378Zm31.811 2.492c-.427-.95-1.467.13-1.515-.892-1.579 1.05-4.508-.57-6.423.073 2.445.012 6.17 2.152 7.938.819Zm-16.501 5.614c-.058-.66.939-.291 1.001-.81-1.117-.509-1.524-.017-2.519-.366-.094.882 1.253.592 1.518 1.176Zm-112.47-3.809c-1.212.107-1.492-.4-2.518-.366-.388.945 2.316.745 2.518.366Zm.282.28c.352.348 1.103.358 1.874.347.303-1.186-1.585-.962-1.874-.348Zm-8.999 2.217c.072-1.127-2.17-.302-2.804-.93-.211 1.253 2.492.065 2.804.93Zm70.052 3.772c.553-.049 1.837.408 1.914-.169-.242-.073-.365-.252-.285-.563-.748.028-1.397.199-1.629.732Zm66.664 2.533c.13-.715-.105-1.188-.872-1.139-.56.448-.01 1.102.851 1.14l.021-.001Zm-135.82-5.377c-4.159-.507-3.58.714 0 0Zm2.818.359c-.237-.264-1.966-.662-2.15-.076.194.248 1.92.628 2.147.038l.003.038Zm4.35.718c1.499-1.234 4.348.698 0 0Zm119.101 4.876c.449-.043.895.067 1.249.308-.036-.415.167-1.021-.248-1.118-.152.47-.415-.077-.948-.05l-.053.86Zm-75.177-37.048c.451-1.445 2.126-.188 3.499-.176-1.159.71-2.384-.302-3.499.176Zm8.211.226c.587-.147 1.256.876 1.592.068.294.183.27.64.908.585-.439.114-2.592.741-2.5-.653Zm9.616 3.14c.402-1.023-1.158-.487-.855-1.425 2.127-.188 2.258 1.3 3.674 1.803-.939.766-1.528-1.29-2.819-.378Zm4.152-.423a47.647 47.647 0 0 1 9.443.877 27.125 27.125 0 0 1-9.443-.877Z" fill="currentcolor" class="${color ? color : "text-accent"}"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M245.954 43.232c-4.254.376-3.63-.819 0 0Zm74.931 21.248c-.119.353-.662.268-.638.057-.297.026-.271.328-.338.542-1.977.175-2.72-.956-4.05-.972-.07-.791 3.424-.302 3.423.667.775-.448.629-.644 1.603-.293Zm9.419 1.164c.766-.068.647.532 1.552.338.053.603-1.127.1-1.595.14.242.213.531.38.85.488.319.11.662.159 1.006.146-.811.528-1.959-.093-2.538-.099.049-.422.9-.25.725-1.013Zm-10.928 7.479c.416-1.12 2.276-.2 2.498.368-.443.571-1.366-.658-2.498-.368Zm2.805.664c-.054-.603.256-.744.394-1.117.396.117.452.51.909.584.025.283-.409.226-.662.268-.254.041.025.282.304.296-.177.414-.397-.136-.945-.03Zm-105.721-.492c4.551-.401 9.046.988 13.548 1.008-3.398-1.599-9.086-.718-13.175-2.123 6.973-.406 14.735 1.34 22.675 2.178-.045-.509-.508-.658-1.233-.613 1.329-.478 2.901.086 3.105.941 1.553-1.105 3.255.454 5.016.735.361-.031.191-.263-.024-.263 6.482.586 14.9 1.743 21.694 2.967.065.735-.19 1.004-1 .81.554.691 1.683-.358 2.519.366a13.272 13.272 0 0 1-4.769.117c-.034-.377-.065-.735.072-1.127-1.914.169-3.099-.866-4.325-.435a9.049 9.049 0 0 0 4.07.705 59.394 59.394 0 0 1-14.779-1.356c-1.166-.334-1.306-1.195-1.572-.317-6.375-1.09-10.876-1.813-15.691-2.224a4.474 4.474 0 0 0 2.537.1c-.254 1.484-6.861-.041-9.48-.323-3.05-.32-6.192-.707-9.188-1.146Zm33.345 3.364c1.108.168 1.758.49 2.531-.223-1.279.321-2.256-.789-2.531.223Zm7.249.538c-1.042.092-1.458-.251-2.175-.359-.058.803 2.219 1.096 2.175.359Zm.264.565c.673-.154 2.051.408 2.127-.187-.834.016-1.77-.87-2.127.187Zm41.618-1.961c.65-1.14 2.819.131 3.105.942-1.289-.76-1.339-.357-3.105-.942Zm-14.256-.206c-.241.913-2.008-.412-1.914.168-.598-.707 1.657-.412 1.914-.168ZM93.407 71.102c-.045-.509.42-.588.395-1.117.738.106 1.157.486 2.174.359-.192.245-.909.384-.359.544-.368.925-.607-.326-.928-.317-.32.01-.34.277-.662.267.124.19.304.345.52.449.217.104.462.155.711.145-.285.652-1.268-.287-1.85-.33Zm110.32-36.11c1.08.589.612.383 1.891.062-.72 1.07.449.473.15 1.695-1.274-.343-1.135-.47-1 .81-.979.087-.852-.912-2.199-.622.317-.541.492-.5 1.158-1.944Zm27.336 3.458c-.183.604-1.553.136-2.127.187.266.584 1.172.656 2.198.623-.967.94-4.285.017-6.641-.212-1.34-.129-3.438.626-3.728-.963 2.188.51 3.427-.017 5.979.48.587-.869-1.512-.855-.552-1.148 1.492-.588 3.319.694 4.871 1.032Z" fill="currentcolor" class="${color ? color : "text-accent"}"></path></svg>`;
}

// Function to process strong tags and inject SVGs
function processStrongTags(htmlContent: string, svgColor: string) {
  const strongRegex = /<strong>(.*?)<\/strong>/g;
  return htmlContent.replace(strongRegex, (_, innerContent) => {
    return `<strong>${innerContent}<span class="svg-decoration">${getSvgMarkup(svgColor)}</span></strong>`;
  });
}

// Process the content
const processedContent = processStrongTags(await markdownify(text), svgColor);

// Prepare additional attributes
const attributes = {
  ...(dataAos && { "data-aos": dataAos }),
  ...(dataAosDelay && { "data-aos-delay": dataAosDelay }),
};
---

<Tag
  class={`relative z-10 ${className}`}
  set:html={processedContent}
  {...attributes}
/>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      position: relative;

      .svg-decoration {
        display: none;
        position: absolute;
        bottom: -0.8em;
        left: 0;
        z-index: -10;
        pointer-events: none;
        height: 2em;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      @media (min-width: 1024px) {
        .svg-decoration {
          display: block;
        }
      }
    }
  }
</style>
