---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

// get static paths for all pages
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "pages";

  const pages = await getSinglePage(COLLECTION_FOLDER);

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description } = page.data;
const { Content } = await render(page);

const cta = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section mt-24 sm:mt-20">
    <div class="container">
      <div data-aos="fade-up-sm">
        <div class="row justify-center">
          <div class="col-12">
            <div class="content">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <CallToAction cta={cta.data} />
</Base>
